@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); */
.none{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
html::-webkit-scrollbar {
    width: 0;
  }
  html::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  html::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  